<div class="row">
  <div class="large-8 medium-8 columns">
    <form data-abide novalidate id="signUpForm" {{action "doSignUp" on="submit"}}>
      <div class="row">
        {{#unless isRegSuccess}}
        <div class="small-12 medium-6 columns">
          <label>{{loc-x '/general/name'}} * <small class="error">{{loc-x '/general/mandatory'}}</small>
            {{input value=name type='text' placeholder="" required="true" pattern="[a-zA-Z-]{3,64}"}}
          </label>       
        </div>
        <div class="small-12 medium-6 columns email-field input-wrapper">
          <label>{{loc-x '/general/email'}} * <small class="error">{{loc-x '/general/mandatory'}}</small>
            {{input value=email type='text' required="true" pattern="email"}}
          </label>                
        </div>
        <div class="small-12 medium-6 columns input-wrapper">
          <label>{{loc-x '/general/password'}} * <small class="error">{{loc-x '/general/password_format_desc_text'}}</small>
            {{input value=password id="password" type='password' placeholder="" required="true" pattern="[a-zA-Z\.0-9]{6,16}"}}
          </label>                                 
        </div>
        <div class="small-12 medium-6 columns input-wrapper">
          <label>{{loc-x '/general/password_again'}} * <small class="error">{{loc-x '/general/passwords_doesnt_match'}}</small>
            <input type="password" placeholder="" required data-equalto="password"/>
          </label>
        </div>
        <div class="small-12 medium-8 columns">
          <label>
          {{input type="checkbox" required="true" name="contract" checked=contract value=""}}
          {{{loc-x '/signup/accept_terms_of_service_text'}}}
          </label>                                 
        </div>              
        <div class="small-12 columns">
          <button type="submit" class="button">{{loc-x '/button/signup'}}</button>
        </div>              
        {{/unless}}  
        <div class="small-12 columns">
          <div data-alert {{bind-attr class=":alert-box isRegSuccess:success isRegError:warning"}}>
          {{#if message}}
            {{message}}
          {{else}}
            {{loc-x '/signup/init_text'}}
          {{/if}}
          </div>
        </div>              
      </div>
    </form>
  </div>
  <div class="large-4 medium-4 columns">
    <div class="panel">
      <h3>Regisztrálj és válassz szakértőt</h3>
      <ul>
        <li>naptár segítségével időpontot foglalhatsz,</li>
        <li>megnézheted a mások véleményeitminőségi,</li>
        <li>a rang segít a választásban</li>
      </ul>
    </div>
    <div class="panel">
      <h3>Regisztrálj és légy szakértő</h3>
      <ul>
        <li>így szerezzhetsz új ügyfeleket,</li>
        <li>add meg mikor vagy szabad,</li>
        <li>hagyd, hogy megtaláljanak,</li>
        <li>szervezd meg a találkozókat</li>
      </ul>
    </div>
  </div>            
</div>
