<div class="row padding-top">
<div class="columns small-12">
<div class="content-panel box-shadow text-center">
<p>
{{#if activated}}
{{{loc-x '/registration/activate_success'}}}
<br><br>
<a href="#" {{action 'jumpToSignin'}} class="button login-button">{{loc-x '/menu/signin'}}</a>
{{else}}
{{{loc-x '/registration/activate_error'}}}
{{/if}}
</p>


</div> 
</div>
</div>
